# Theme: entune_audio
# Version 1.0
# Last Update: 05/29/2026
# License: CC-BY-SA 3.0
# By: Monica G.
# Description: Theme based on the Entune Audio media system. Fonts are the SF-Pro fonts, all pixel art is by me. All icons are made by me and/or updated from my previous themes. (minimal_RTC_sync and bunnyPod).
# The San Francisco font is owned by Apple Inc. and this theme does not claim any ownership over the font.
# Code based on: minimal_RTC_sync and bunnyPod which were based on SNARTY by Simon Anden and BONES by Chuck Largo!

#--CFG File--

wps: /.rockbox/wps/entune_audio.wps
sbs: /.rockbox/wps/entune_audio.sbs
selector type: bar (inverse)
font: /.rockbox/fonts/16-SF-Pro.fnt
background color: 1B2134
foreground color: ffffff
statusbar: off
scrollbar: off
show icons: off
filetype colours: -